<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="d-flex flex-row">
      <div class="p-2">
        <select formControlName="listUsers" (change)="userChanged($event)">
          <option [ngValue]="null" disabled>Select User</option>
          <option *ngFor="let userName of usersList" [ngValue]="userName">{{ userName }}</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <button type="submit">Search</button>
      </div>
      <div class="p-2">
        <input type="text" formControlName="userName">
      </div>

    </div>
  </form>
</div>

<div class="alert alert-danger" *ngIf="userName?.invalid && (userName?.touched || userName?.dirty)">
  <div *ngIf="userName?.errors?.['required']">
    Please, before submit write down a user name.
  </div>

</div>
