<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>About Page</h1>
      <div class="img-fluid">
        <img src="assets/bookMd.webp" />

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Copyright © Unosquare, LLC
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="footer-text" href="https://www.unosquare.com/Home/PrivacyPolicy">
        Web Privacy
        Policy
      </a>
    </div>
  </div>
    <div class="row">
      <div class="col">
        <a class="footer-text" href="https://www.unosquare.com/Home/AppPrivacyPolicy">
          App Privacy
          Policy
        </a>
      </div>
    </div>
  </div>

